:root {
    /* -- Background --*/
    --background-attachment: initial;
    --background-color: #1F90F8;
    --background-image: url('');
    --background-blend-mode: normal;
    --background-clip: initial;
    --background-origin: initial;
    --background-position: center center;
    --background-repeat: initial;
    --background-size: initial;
    

    /* -- Border -- */
    --border-width: 0px;
    --border-style: solid;
    --boder-color: transparent;
    --border-radius: 0px;
    --border-image-source: none;
    --border-image-slice: initial;
    --border-image-width: initial;
    --border-image-outset: initial;
    --border-image-repeat: initial;


    /* -- Box Model -- */
    --padding: 25px;
    --margin: 0px;
    --display: inline-block;
    --opacity: 1;
    --position: initial;
    --height: auto;
    --width: auto;
    --box-sizing: initial;
    

    /* -- Filter -- */
    --blur: 0px;
    --brightness: 1;
    --contrast: 100%;
    --grayscale: 0%;
    --hue-rotate: 0deg;
    --invert: 0%;
    --opacity:100%;
    --saturate:100%;
    --sepia:0%;


    /* -- Transform -- */
    --text-shadow-horizontal: 0px;
    --text-shadow-vertical: 0px;
    --text-shadow-blur: 0px;
    --text-shadow-color: #000;

    --box-shadow-offset-x: 0px;
    --box-shadow-offset-y: 0px;
    --box-shadow-spread-radius: 0px;
    --box-shadow-blur: 0px;
    --box-shadow-color: #000;

    --inset-box-shadow-offset-x: 0px;
    --inset-box-shadow-offset-y: 0px;
    --inset-box-shadow-spread-radius: 0px;
    --inset-box-shadow-blur: 0px;
    --inset-box-shadow-color: #000;


    /* -- Transform -- */
    --rotate: 0deg;
    --rotate-x: 0deg;
    --rotate-y:0deg;
    --scale: 1;
    --translateX: 0%;
    --translateY: 0%;
    --skewX: 0deg;
    --skewY: 0deg;
    --transform-origin-x: initial;
    --transform-origin-y: initial;


    /* -- Typography -- */
    --color: #FFF;
    --font-style: initial;
    --font-variant: initial;
    --font-weight: normal;
    --font-size: initial;
    --line-height: initial;
    --letter-spacing: initial;
    --word-spacing: initial;
    --text-align: initial;
    --font-family: sans-serif !important;
    --font-kerning: auto;

}


#Element {
    /* -- Background -- */
    background: 
        var( --background-color) 
        var( --background-image );

    background-attachment: var( --background-attachment );
    background-blend-mode: var( --background-blend-mode );
    background-clip: var( --background-clip );
    background-origin: var( --background-origin );
    background-position: var( --background-position );
    background-repeat: var( --background-repeat );
    background-size: var( --background-size );
    
    
    /* -- Border -- */
    border-width: var( --border-width );
    border-style: var( --border-style );
    border-color: var( --border-color );
    border-radius: var( --border-radius );
    border-image-source: var( --border-image-source );
    border-image-slice: var( --border-image-slice );
    border-image-width: var( --border-image-width );
    border-image-outset: var( --border-image-outset );
    border-image-repeat: var( --border-image-repeat );


    /* -- Box Model -- */
    padding: var( --padding );
    margin: var( --margin );
    display: var( --display );
    opacity: var( --opacity );
    position: var( --position );
    height: var( --height );
    width: var( --width );
    text-align: var( --text-align );
    box-sizing: var( --box-sizing );

    
    /* -- Filters -- */
    filter: 
        blur( var( --blur ))
        brightness( var( --brightness ))
        contrast( var( --contrast ))
        grayscale( var( --grayscale ))
        hue-rotate( var( --hue-rotate ))
        invert( var( --invert ))
        opacity( var( --opacity ))
        saturate( var( --saturate ))
        sepia( var( --sepia ));


    /* -- Shadow -- */
    text-shadow: 
        var( --text-shadow-horizontal )
        var( --text-shadow-vertical ) 
        var( --text-shadow-blur )
        var( --text-shadow-color );
    
    box-shadow:
        var( --box-shadow-offset-x )
        var( --box-shadow-offset-y )
        var( --box-shadow-blur )
        var( --box-shadow-spread-radius )
        var( --box-shadow-color ),
        inset         
        var( --inset-box-shadow-offset-x )
        var( --inset-box-shadow-offset-y )
        var( --inset-box-shadow-blur )
        var( --inset-box-shadow-spread-radius )
        var( --inset-box-shadow-color );


    /* -- Transforms -- */
    transform: 
        rotate( var( --rotate ))
        rotateY( var( --rotate-y ))
        rotateX( var( --rotate-x ))
        scale( var( --scale ))
        translateX( var( --translateX ))
        translateY( var( --translateY ))
        skewX( var( --skewX )) 
        skewY( var( --skewY ));

    transform-origin: 
        var( --transform-origin-x ) 
        var( --transform-origin-y );


    /* -- Typography -- */
    color: var( --color );
    font-style: var( --font-style );
    font-variant: var( --font-variant );
    font-weight: var( --font-weight );
    font-size: var( --font-size );
    line-height: var( --line-height );
    letter-spacing: var( --letter-spacing );
    word-spacing: var( --word-spacing );
    font-family: var( --font-family ) !important;
    font-kerning: var( --font-kerning );

    transition:0.1s;
}