:root {
    /* -- Background --*/
    --background-attachment: initial;
    --background-color: #1F90F8;
    --background-blend-mode: normal;
    --background-clip: initial;
    --background-image: url('');
    --background-origin: initial;
    --background-position: center center;
    --background-repeat: initial;
    --background-size: initial;
    

    /* -- Border -- */
    --border-width: 0px;
    --border-style: initial;
    --boder-color: transparent;
    --border-radius: 0px;
    --border-image-source: none;
    --border-image-slice: initial;
    --border-image-width: initial;
    --border-image-outset: initial;
    --border-image-repeat: initial;


    /* -- Box Model -- */
    --padding: 10px;
    --margin: 0px;
    --display: inline-block;
    --opacity: 1;
    --position: initial;
    --height: initial;
    --width: initial;
    --box-sizing: initial;
    

    /* -- Filter -- */
    --blur: 0px;
    --brightness: 1;
    --contrast: 100%;
    --grayscale: 0%;
    --hue-rotate: 0deg;
    --invert: 0%;
    --opacity:100%;
    --saturate:100%;
    --sepia:0%;


    /* -- Transform -- */
    --rotate: 0deg;
    --rotate-x: 0deg;
    --rotate-y:0deg;


    /* -- Typography -- */
    --color: #FFF;
    --font-style: initial;
    --font-variant: initial;
    --font-weight: normal;
    --font-size: initial;
    --line-height: initial;
    --letter-spacing: initial;
    --word-spacing: initial;
    --text-align: initial;

}


#Element {
    /* -- Background -- */
    background-color: var( --background-color );
    background-attachment: var( --background-attachment );
    background-blend-mode: var( --background-blend-mode );
    background-clip: var( --background-clip );
    background-image: var( --background-image );
    background-origin: var( --background-origin );
    background-position: var( --background-position );
    background-repeat: var( --background-repeat );
    background-size: var( --background-size );
    
    
    /* -- Border -- */
    border-width: var( --border-width );
    border-style: var( --border-style );
    border-color: var( --border-color );
    border-radius: var( --border-radius );
    border-image-source: var( --border-image-source );
    border-image-slice: var( --border-image-slice );
    border-image-width: var( --border-image-width );
    border-image-outset: var( --border-image-outset );
    border-image-repeat: var( --border-image-repeat );


    /* -- Box Model -- */
    padding: var( --padding );
    margin: var( --margin );
    display: var( --display );
    opacity: var( --opacity );
    position: var( --position );
    height: var( --height );
    width: var( --width );
    text-align: var( --text-align );
    box-sizing: var( --box-sizing );

    
    /* -- Filters -- */
    filter: blur( var( --blur ))
        brightness( var( --brightness ))
        contrast( var( --contrast ))
        grayscale( var( --grayscale ))
        hue-rotate( var( --hue-rotate ))
        invert( var( --invert ))
        opacity( var( --opacity ))
        saturate( var( --saturate ))
        sepia( var( --sepia ));


    /* -- Transforms -- */
    transform: rotate( var( --rotate ))
        rotateY( var( --rotate-y ))
        rotateX( var( --rotate-x ));


    /* -- Typography -- */
    color: var( --color );
    font-style: var( --font-style );
    font-variant: var( --font-variant );
    font-weight: var( --font-weight );
    font-size: var( --font-size );
    line-height: var( --line-height );
    letter-spacing: var( --letter-spacing );
    word-spacing: var( --word-spacing );
    transition:0.1s;
}