/* --------
--------------- HTMentaL Styles 
-------- */

@import './variables.css';
@import './element.css';


:root {
    --canvas-background-color: #FFF;
    --canvas-background-image: url( '' );
}

/* ----
----------- Global 
---- */
body, #root {
    height: 100vh !important;
    min-height: 100vh !important;
    max-height: 100vh !important;
}


#Sidebar, #ElementCanvas {
    height: 100% !important;
    min-height: 100% !important;
}

.mobile-notice {
    position:fixed;
    z-index:9999;
    right: 50px;
    bottom:25px;
    display: none;
    transition:0.5s;
}

/* ----
----------- Sidebar
---- */
#Sidebar {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}


.control-toggle {
    text-transform: capitalize !important;
    text-decoration: none !important;
}


.card-header {
    transition:0.5s;
}

.card-header:hover {
    opacity:0.5;
}


/* ----
----------- ElementCanvas
---- */
#ElementCanvas {
    background-color: var( --canvas-background-color );
    background-image: var( --canvas-background-image );
}



/* ----
----------- Responsive
---- */

/*
@media ( max-width: 576px ) {}
@media ( max-width: 768px ) {}
*/

@media ( max-width: 992px ) {
    .mobile-notice {
        display: inline-block;
    }
}

/*
@media ( max-width: 1200px ) {}
*/