/* --------
--------------- HTMentaL Styles 
-------- */

@import './variables.css';
@import './element.css';


:root {
    --canvas-background-color: #FFF;
    --canvas-background-image: url( '' );
}

/* ----
----------- Global 
---- */
body, #root {
    height: 100vh !important;
    min-height: 100vh !important;
    max-height: 100vh !important;
}


#Sidebar, #ElementCanvas {
    height: 100% !important;
    min-height: 100% !important;
}


/* ----
----------- Sidebar
---- */
#Sidebar {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}


.control-toggle {
    text-transform: capitalize !important;
    text-decoration: none !important;
}



/* ----
----------- ElementCanvas
---- */
#ElementCanvas {
    background-color: var( --canvas-background-color );
    background-image: var( --canvas-background-image );
}
